#imaginary_container {
    margin-top:3%; /* Don't copy this */
}


.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 154px;
  background: url('../img/test.png') center / cover;
}
/*.demo-card-wide > .mdl-card__menu {
  color: #3f51b5;
}*/

.mdl-data-table {
  width: 100%;
}

.ui-scroll {
    height: 100px;
    overflow-y: scroll;
}